<article class="post">
    <div class="title">
       <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="body">
        {{post_text}}
    </div>
    <div class="meta">
        <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
    </div>
</article>